<li class="col-xs-12 col-sm-6 col-md-3 col-lg-3 item">
    <a class="card" href="./details?id=\{{_id}}">
        <div class="item-img-container">
            <img class="card-img-top img-responsive item-img" src=\{{image}} alt='./api/media?name=null.jpg'>
        </div>

        <div class="card-body">
            <h5 class="card-title name">\{{name}}</h5>
            <p class="card-text author">\{{author.name}}</p>
            <p class="card-text">
                <span class="finalPrice">\{{priceSale}}</span>
                <span class="regularPrice">\{{price}}</span>
                <span class="sale">\{{deal}}</span>
            </p>
        </div>
    </a>
</li>