<div class="wrapper">
    <header>
        {{>Header info=this.info user=this.user}}
    </header>
    <div class="menu-and-slide mt-20">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <nav class="main-menu" id="menu">
                    <button onclick="showMenu()" class="dropbtn">
                        <span>DANH MỤC</span>
                    </button>
                    <div class="detail-menu">
                        {{>Menu}}
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="main-container col2-left-layout">
        <div class="main">
            <div class="container">
                <div class="container-inner">
                    <div class="row">
                        <div class="col-left sidebar col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="block block-account">
                                <div class="block-title">
                                    <strong>
                                        <span>Tài khoản</span>
                                    </strong>
                                </div>
                                <div class="block-content">
                                    <ul>
                                        <li class="current">
                                            <strong>Thông tin tài khoản</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.fahasa.com/customer/address/">Sổ địa chỉ</a>
                                        </li>
                                        <li>
                                            <a href="https://www.fahasa.com/sales/order/history/">Đơn hàng của tôi</a>
                                        </li>
                                        <li>
                                            <a href="https://www.fahasa.com/review/customer/">Nhận xét của tôi</a>
                                        </li>
                                        <li>
                                            <a href="https://www.fahasa.com/wishlist/">Yêu thích</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-main col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <ul id="admin_messages"></ul>
                            <div class="my-account">
                                <div class="page-title">
                                    <h1>Chỉnh sửa thông tin tài khoản</h1>
                                </div>
                                <form id="form-validate">
                                    <div class="fieldset">
                                        <h2 class="legend">Thông tin tài khoản</h2>
                                        <ul class="form-list">
                                            <li class="fields">
                                                <div class="customer-name">
                                                    <div class="field name-firstname">
                                                        <label for="firstname" class="required">
                                                            <em>*</em>Tên</label>
                                                        <div class="input-box">
                                                            <input type="text" id="secondName" name="secondName" value="{{this.account.local.accountInfo.secondName}}" title="Tên" maxlength="255"
                                                                class="input-text required-entry">
                                                        </div>
                                                    </div>
                                                    <div class="field name-lastname">
                                                        <label for="lastname" class="required">
                                                            <em>*</em>Họ</label>
                                                        <div class="input-box">
                                                            <input type="text" id="firstName" name="firstName" value="{{this.account.local.accountInfo.firstName}}" title="Họ" maxlength="255"
                                                                class="input-text required-entry">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <label for="email" class="required">Địa chỉ Email</label>
                                                <div class="input-box">
                                                    <input readonly="" type="text" name="email" id="email" value="{{this.account.local.email}}" title="Địa chỉ Email" class="input-text required-entry validate-email">
                                                </div>
                                            </li>
                                            <li>
                                                <label for="phone_number">Số điện thoại</label>
                                                <div class="input-box">
                                                    <input type="text" name="phone_number" id="phone_number" value="{{this.account.local.accountInfo.contactNumber}}" title="Số điện thoại"
                                                        class="input-text">
                                                </div>
                                            </li>
                                            <li>
                                                <label for="address">Địa chỉ</label>
                                                <div class="input-box">
                                                    <input type="text" name="address" id="address" value="{{this.account.local.accountInfo.address}}" title="Địa chỉ" class="input-text">
                                                </div>
                                            </li>
                                            <li>
                                                <p id="date-hide" hidden>{{this.account.local.accountInfo.birthday}}</p>
                                                <label for="month">Ngày Sinh</label>
                                                <div class="input-box customer-dob">
                                                    <div class="dob-day">
                                                        <input style="width: 60px !important;" type="text" id="day" name="day" value="" title="Ngày" class="input-text validate-custom">
                                                        <label for="day ">DD</label>
                                                    </div>
                                                    <div class="dob-month " style="margin-left: 5px;">
                                                        <input style="width: 60px !important;" type="text" id="month" name="month" value="" title="Tháng" class="input-text validate-custom">
                                                        <label for="month">MM</label>
                                                    </div>
                                                    <div class="dob-year" style="margin-left: 5px !important; width: 0px !important;">
                                                        <input style="width: 60px !important;" type="text" id="year" name="year" value="" title="Năm" class="input-text validate-custom"
                                                            autocomplete="off">
                                                        <label for="year">YYYY</label>
                                                    </div>
                                                    <div class="dob-full" style="display:none;">
                                                        <input type="hidden" id="dob" name="dob">
                                                    </div>

                                                    <div class="validation-advice" style="display:none;"></div>
                                                </div>
                                                {{!-- <li>
                                                    <label for="gender">Giới tính</label>
                                                    <div class="input-box dropdownfhs" style="width: 190px !important">
                                                        <select id="gender" name="gender" title="Giới tính">
                                                            <option value="" selected="selected"></option>
                                                            <option value="1">Nam</option>
                                                            <option value="2">Nữ</option>
                                                        </select>
                                                    </div>
                                                </li> --}}
                                                <li class="control">
                                                    <input type="checkbox" name="change_password" id="change_password" value="1" onclick="setPasswordForm(this.checked)" title="Đổi mật khẩu"
                                                        class="checkbox">
                                                    <label for="change_password">Đổi mật khẩu</label>
                                                </li>
                                        </ul>
                                    </div>
                                    <div class="fieldset-password" hidden>
                                        <h2 class="legend">Đổi mật khẩu</h2>
                                        <ul class="form-list">
                                            <li>
                                                <label for="current_password" class="required">
                                                    <em>*</em>Mật khẩu hiện tại</label>
                                                <div class="input-box">
                                                    <!-- This is a dummy hidden field to trick firefox from auto filling the password -->
                                                    <input type="text" class="input-text no-display" name="dummy" id="dummy" hidden>
                                                    <input type="password" title="Mật khẩu hiện tại" class="input-text" name="current_password" id="current_password">
                                                </div>
                                            </li>
                                            <li class="fields">
                                                <div class="field">
                                                    <label for="password" class="required">
                                                        <em>*</em>Mật khẩu mới</label>
                                                    <div class="input-box">
                                                        <input type="password" title="Mật khẩu mới" class="input-text validate-password" name="password" id="password">
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <label for="confirmation" class="required">
                                                        <em>*</em>Nhập lại mật khẩu mới</label>
                                                    <div class="input-box">
                                                        <input type="password" title="Nhập lại mật khẩu mới" class="input-text validate-cpassword" name="confirmation" id="confirmation">
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="buttons-set">
                                        <p class="required">(*): bắt buộc</p>
                                        <p class="back-link">
                                            <a href="../">
                                                <small>« </small>Quay lại</a>
                                        </p>
                                       <button type="button" title="Lưu" class="button" onclick="return submitUpdate();">
                                            <span>
                                                <span>Lưu</span>
                                            </span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="menu-template" type="text/x-handlebars-template">
    \{{#each booktypes}}
        <li><a href="/category?id=\{{this._id}}">\{{ this.name }}</a></li>
    \{{/each}}
    <a href="/category" style="color:blue;">Xem thêm</a>
</script> 

{{> Script scripts=this.scripts}} 