<div class="wrapper">
    <header>
        {{>Header info=this.info user=this.user}}
    </header>
    <div class="menu-and-slide mt-20">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <nav class="main-menu" id="menu">
                    <button onclick="showMenu()" class="dropbtn">
                        <span>DANH MỤC</span>
                    </button>
                    <div class="detail-menu">
                        {{>Menu}}
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="cart-content">
        <h4>GIỎ HÀNG</h4>
        <div class="row">

            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            {{#each cartlist.books}}
                <div class="cart-detail">
                    <div class="row">

                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <img class="img-responsive" src={{this.image.[0]}} onerror="this.src='../images/null.jpg'">
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                            <a class="title" href="#">{{this.name}}</a>
                            <p class="author">Tác giả:
                                <a href="#">{{this.author.name}}</a>
                            </p>
                            <p class="delete">
                                <a href="#">Xóa</a>
                            </p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <p class="price">{{this.price}}
                                <u>đ</u>
                            </p>
                            <p class="save">{{this.price}}
                                <u>đ</u>
                            </p>
                            <p class="percent"></p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <input type="number" name="" id="input${1/(\w+)/\u\1/g}" class="form-control" value="1" min="1" max="20" step="1" required="required"
                                title="">
                        </div>
                    </div>
                </div>
            {{/each}}
            </div>
            
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="cart-order">
                    <p>Tạm tính:
                        <span id="temp-paid">128.000
                            <u>đ</u>
                        </span>
                    </p>
                    <p class="high-light">Thành tiền:
                        <span id="total-paid">128.000
                            <u>đ</u>
                        </span>
                    </p>
                    <button class="btn btn-danger order-btn">Đặt hàng</button>
                </div>
            </div>
        </div>
        <footer class="rps-hidden">
            {{> Footer info=this.info}}
        </footer>
    </div>
    {{> Script scripts=this.scripts}}