<div class="wrapper">
    <header>
        {{>Header info=this.info user=this.user}}
    </header>
    <p id="idBook" hidden>{{this.id}}</p>
    <p id="typeBook" hidden>{{item.type.id}}</p>
    <div class="menu-and-slide mt-20">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <nav class="main-menu" id="menu">
                    <button onclick="showMenu()" class="dropbtn">
                        <span>DANH MỤC</span>
                    </button>
                    <div class="detail-menu">
                        {{>Menu}}
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="book-content">
        <div class="book-detail">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="book-image">
                        <img class="img-responsive" src={{item.image.[0]}} onerror="this.src='images/null.jpg'">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <div class="book-main">
                        <h3>{{item.name}}</h3>
                        <br>
                        <p class="author">Tác giả:</p>
                        <a href="#">{{item.author.name}}</a>
                        <div class="block">
                            <p class="price">
                                <b>{{item.price}}
                                    <u>đ</u>
                                </b>
                            </p>
                            <p class="save">Tiết kiệm: {{item.deal}}%</p>
                            <p class="save">Giá thị trường: {{item.price}} đ</p>
                        </div>
                    </div>
                    
                    <div class="order">
                        <div class="row">
                            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <p>Số lượng: </p>
                                <input type="number" name="quantity" min="1" max="100" placeholder="1"> 
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="like-button">
                                    <span class="far fa-heart heart-icon"></span>
                                    <span class="like-text"> Yêu thích</span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 order-cart">
                                <button type="button" class="btn btn-danger oder-button" name="order-cart">
                                    <span class="fa fa-shopping-cart order-cart"></span> 
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-20">
            <h4>THÔNG TIN CHI TIẾT</h4>
            <div class="info-detail">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="table-responsive">
                            <table class="table">
                                {{!--
                                <tr>
                                    <th>Công ty phát hành</th>
                                    <td>{{item.publisher}}</td>
                                </tr> --}}
                                <tr>
                                    <th>Nhà xuất bản</th>
                                    <td>{{item.publisher.name}}</td>
                                </tr>
                                {{!--
                                <tr>
                                    <th>Kích thước</th>
                                    <td>14.5 x 20.5 cm</td>
                                </tr> --}}
                                <tr>
                                    <th>Tác giả</th>
                                    <td>{{item.author.name}}</td>
                                </tr>
                                <tr>
                                    <th>Loại bìa</th>
                                    <td>{{item.typebook}}</td>
                                </tr>
                                <tr>
                                    <th>Số trang</th>
                                    <td>{{item.pages}}</td>
                                </tr>
                                <tr>
                                    <th>Ngày xuất bản</th>
                                    <td>{{item.date}}</td>
                                </tr>
                                {{!--
                                <tr>
                                    <th>SKU</th>
                                    <td>2511376617665</td>
                                </tr> --}}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-20">
            <div class="ma-review-col1 span5">
                <h4>GIỚI THIỆU SÁCH</h4>
                <div class="book-introduce">
                    <h5>
                        {{item.name}}
                    </h5>
                    <p>
                        {{item.description}}
                    </p>
                </div>
            </div>
        </div>
        <div class="category-slider mt-20">
            <div class="new-book-panel">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Sản phẩm liên quan</h3>
                    </div>
                    <div class="panel-body">
                        <div class="loader" id="loader-relate"></div>
                        <ul class="row" style="list-style: none;" id="relate-content">
                                
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-20">
            <div class="ma-review-col1 span5">
                <h2 class="own-review">Khách Hàng Nhận Xét</h2>
                <dl>
                    <div id="comments" page=1>
                    </div>
                    
                </dl>
                <div class="loader" id="loader-comment" hidden></div>
                <button class="btn btn-danger"  onclick="runLoad()" id="btn-load-more">Load more</button>
            </div>

        </div>
        {{#if user}}
        <div class="mt-20" id="form-comment">
            {{> FormComment item.name}}
        </div>
        {{/if}}
    </div>
    <footer class="rps-hidden">
        {{> Footer info=this.info}}
    </footer>
</div>


<script id="content-template-detail" type="text/x-handlebars-template">
    \{{#each items}}
    <li class="col-xs-12 col-sm-6 col-md-3 col-lg-3 item">
        <a class="card" href="./details?id=\{{_id}}">
            <div class="item-img-container">
                <img class="card-img-top img-responsive item-img" src=\{{image}} alt='No Image' onerror="this.src='images/null.jpg'">
            </div>
                <div class="card-body">
                    <h5 class="card-title name">\{{ name }}</h5>
                    <p class="card-text author">\{{ author.name }}</p>
                    <p class="card-text">
                        <span class="finalPrice">\{{ price }}</span>
                        <span class="regularPrice">\{{ price }}</span>
                        <span class="sale">0</span>
                    </p>
                </div>
        </a>
    </li>
    \{{/ each}}
</script>

<script id="list-comment" type="text/x-handlebars-template">
\{{#each listComment}}
    <div class="f-review-container">
        <div class="fhs-review-title">
            <h4>\{{this.title}}</h4>
        </div>
        <div class="fhs-review-by-block">
            Nhận xét bởi
            <span class="fhs-review-by">\{{this.name}}</span>,
            <small class="date">vào ngày \{{this.date}}</small>
        </div>
        <dd class="fhs-review-block-content">
            \{{this.message}}
        </dd>
    </div>
\{{/each}}
</script> 

<script id="menu-template" type="text/x-handlebars-template">
    \{{#each booktypes}}
        <li><a href="/category?id=\{{this._id}}">\{{ this.name }}</a></li>
    \{{/each}}
    <a href="/category" style="color:blue;">Xem thêm</a>
</script> {{> Script scripts=this.scripts}}
<script>
    function runLoad() {
        loadComment($("#idBook").text());
    }
    runLoad();
</script>

