<div class="top-promote">
    <img src="/images/top-promo.jpg" class="img-responsive" alt="top-promote">
</div>
<div class="wrapper">
    <header>
        {{> Header info=this.info user=this.user}}
    </header>
    <p>{{message}}</p>
    <div class="menu-and-slide mt-40">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <nav class="main-menu" id="menu">
                    <button onclick="showMenu()" class="dropbtn">
                        <span>DANH MỤC</span>
                    </button>
                    {{> Menu}}
                </nav>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                {{> Slider}} </div>
        </div>
    </div>
    <div class="content">
        {{> Banners}}
        <div class="category-slider mt-20" id="content">
            <div class="loader"></div>
        </div>
    </div>
    <footer>
        {{> Footer info=this.info}}
    </footer>
</div>

{{!Template }}
<script id="content-template" type="text/x-handlebars-template">
    <div class="new-book-panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">\{{ name }}</h3>
            </div>
            <div class="panel-body">
                <ul class="row" style="list-style: none;">
                    \{{#each items}}
                    <li class="col-xs-12 col-sm-6 col-md-3 col-lg-3 item">
                        <a class="card" href="./details?id=\{{_id}}">
                            <div class="item-img-container">
                                <img class="card-img-top img-responsive item-img" src=\{{image}} alt='No Image' onerror="this.src='images/null.jpg'">
                            </div>

                                <div class="card-body">
                                    <h5 class="card-title name">\{{ name }}</h5>
                                    <p class="card-text author">\{{ author.name }}</p>
                                    <p class="card-text">
                                        <span class="finalPrice">\{{ price }}</span>
                                        <span class="regularPrice">\{{ price }}</span>
                                        <span class="sale">0</span>
                                    </p>
                                </div>
                        </a>
                    </li>
                    \{{/ each}}
            </ul>
            <ul class="pagination"  style="display: flex;justify-content: center;">
                \{{#each itemsPage}}
                    <li class="page-item \{{this.disabled}}"><a class="page-link" href="\{{this.url}}">\{{this.text}}</a></li>
                \{{/each}}
           </ul> 
        </div>
            </div>
        </div>
</script>

<script id="model-event-script" type="text/x-handlebars-template">
    <div class="modal-dialog" >
        <!-- Modal content-->
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">\{{this.name}}</h4>
            </div>
            <div class="modal-body">
                <pre>\{{this.detail}}</pre  >
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</script>

<script id="list-event" type="text/x-handlebars-template">
    \{{#each event}}
        <div class="item \{{this.active}}">
            <img class="img-responsive" src="\{{this.image}}" alt="\{{this.name}}" detail="\{{this.detail}}" onclick="openModal(this)">
        </div>
    \{{/each}}
</script> 

<script id="menu-template" type="text/x-handlebars-template">
    \{{#each booktypes}}
        <li><a href="/category?id=\{{this._id}}">\{{ this.name }}</a></li>
    \{{/each}}
    <a href="/category" style="color:blue;">Xem thêm</a>
</script> 
{{> Script scripts=this.scripts}} 

